.chat-right {
  float: left;
  padding-left: 20px;
  white-space: nowrap; 
  text-overflow: ellipsis;
  width: 80%;
}

.chat-profile {
  margin-left: 20px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  color:#fff;
  text-align:center;
  line-height:38px;
  background: #808080;
  float:left;
}

.chat-profile.title-online {
  background: #4cb2b4;
} 

.last-message-timestamp {
  position: absolute;
  top: 16px;
  right: 40px;
  font-size: 14px;
  color: #9A9898;
} 