.star-rating {
  line-height:32px;
  font-size:1.25em;
  cursor: pointer;
}

.rating li {
    float: left;
    i {
        font-size: 150%;
    }    
}

input.review {
    width: 100%;
    padding-top: 10px;
    font-size: 17px;
}