.star-rating {
  line-height:32px;
  font-size:1.25em;
  cursor: pointer;
}

.rating li {
    float: left;
    i {
        font-size: 150%;
    }    
}

textarea.review {
    width: 80%;
    padding-top: 10px;
    font-size: 17px;
    display: inline;
}

.float-clear {
  clear: both;
}

.item.selectable {
   -moz-user-select: text;
   -khtml-user-select: text;
   -webkit-user-select: text;
   -ms-user-select: text;
   user-select: text;
}