<ion-view view-title="读书分享">
  <ion-nav-buttons side="right">
    <button class="button button-clear"><img class="header-picture" ng-src="{{  }}"></button>
  </ion-nav-buttons>
  <ion-content class="chat" delegate-handle="chatScroll" overflow-scroll="true">
    <div class="message-list">
      <div ng-repeat="message in messages" ng-init="text=getText(message); author=getAuthor(text);" class="message-wrapper">
        <div ng-if="text">
          <div class="message" ng-class="message.type === 'send' ? 'message-mine' : 'message-other'">
            <div class="selectable text-wrapper">
              <div class="text">
                <pre>{{text.text}}</pre>
              </div> 
              <span class="message-timestamp">
                <span ng-if="author">{{author.name}} ({{author.wechat_id}})</span> {{text.timestamp | calendar}}
              </span>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </ion-content>
</ion-view>