<ion-view view-title="谈笑有鸿儒">
  <ion-content>
    <ion-list>
      <ion-item
              ng-repeat="chat in chats"
              class="item-chat item-remove-animate item-avatar item-icon-right"
              type="item-text-wrap"
              href="{{chat.href}}">
        <div class="chat-profile">
          <div ng-if="chat.title">
            {{chat.title.slice(0,2)}}
          </div>
        </div>
        <div class="chat-right">
          <h2>{{chat.title}}</h2>
          <p>{{chat.subtitle}}</p>
          <div ng-if="chat.timestamp">
            <span class="last-message-timestamp">{{chat.timestamp | calendar}}</span>
          </div>
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>