<ion-view title={{profile.username}}>

  <ion-content class="profile">
    <span ng-if="$root.currentUser._id == profile._id">
      <div class="padding text-center">
        <button ng-click="profile.logout()" class="button button-clear button-assertive">登出</button>
      </div>
    </span>  

    <div class="list card">
      <div class="item item-divider">用户名</div>
      <div class="item item-body">
        <div>
          {{profile.username}}
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">积分</div>
      <div class="item item-body">
        <div>
          {{profile.score}}
        </div>
      </div>
    </div>

    <span ng-if="$root.currentUser._id != profile._id">

      <rating ng-model="rating.rate" max="rating.max"></rating>

      <div class="list card">
        <div class="item item-divider">自我介绍</div>
        <div class="item item-body">
          <div>
            {{profile.intro}}
          </div>
        </div>
      </div>

      <div class="list card">
        <div class="item item-divider">爱好</div>
        <div class="item item-body">
          <div>
            {{profile.topic}}
          </div>
        </div>
      </div>

      <div class="list card">
        <div class="item item-divider">聊天目的</div>
        <div class="item item-body">
          <div>
            {{profile.goal}}
          </div>
        </div>
      </div>
    </span>
  </ion-content>
</ion-view>