<ion-view cache-view = "false">
  <ion-nav-buttons side = "right">
    <a class="button button-icon button-clear ion-navicon" href="#/chat"> 
       对话列表 
    </a>
  </ion-nav-buttons>
  <ion-nav-title> 
    {{profile.username}} 
    <span ng-if="$root.currentUser._id != profile._id">
      <a class="icon ion-chatboxes" href={{profile.chatHref}}></a>
    </span>
  </ion-nav-title>
  <ion-content class="selectable" overflow-scroll="true">
    <span ng-if="$root.currentUser._id == profile._id">
      <div class="padding text-center">
        <button ng-click="logout()" class="button button-clear button-assertive">登出</button>
      </div>
    </span>  

    <span ng-if="$root.currentUser._id != profile._id">

      <div class="list card">
        <div class="item item-divider">我对{{profile.username}}的评价（点击修改，欢迎完善）</div>
        <div class="item item-body">
          <div>
            <rating ng-model="rating.rate" max=5 class="rating"></rating>
          </div>
          <div class="float-clear"></div>
          <div>
            <textarea type="text" placeholder="再写几句我对{{profile.username}}的评价吧！" class="review" ng-model="rating.detail"
            on-blur="changeRating()" ng-keyup="autoExpand($event)"></textarea> 
            <span ng-if="needSaveRating">
              <button ng-click="changeRating()" class="button button-clear button-positive">保存</button>
            </span>
          </div>
        </div>
      </div>
    </span>  

    <div class="list card">
      <div class="item item-divider">用户名</div>
      <div class="item item-body text-wrapper selectable">
        <div>
          {{profile.username}}
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">积分</div>
      <div class="item item-body text-wrapper selectable">
        <div>
          {{profile.score}}
        </div>
      </div>
    </div>

    <span ng-if="$root.currentUser._id != profile._id">
      <div class="card">
        <div class="item item-divider">自我介绍</div>
        <div class="item selectable">
          <pre>{{profile.intro}}</pre>
        </div>
      </div>

      <div class="list card">
        <div class="item item-divider">爱好</div>
        <div class="item item-body selectable">
          <div>
            {{profile.topic}}
          </div>
        </div>
      </div>

      <div class="list card">
        <div class="item item-divider">聊天目的</div>
        <div class="item item-body selectable">
          <div>
            {{profile.goal}}
          </div>
        </div>
      </div>
    </span>

    <span ng-if="$root.currentUser._id == profile._id">
      <div class="card">
        <div class="item item-divider">自我介绍(点击修改，回车保存)</div>
        <div class="item selectable">
          <textarea type="text" placeholder="自我介绍" class="review" ng-model="myProfile.intro"
            on-blur="updateMyProfile()" on-return="updateMyProfile()"
            ng-keyup="autoExpand($event)"></textarea> 
        </div>
      </div>

      <div class="list card">
        <div class="item item-divider">爱好(点击修改，回车保存)</div>
        <div class="item item-body selectable">
          <textarea type="text" placeholder="爱好" class="review" ng-model="myProfile.topic"
            on-blur="updateMyProfile()" on-return="updateMyProfile()"
            ng-keyup="autoExpand($event)"></textarea> 
        </div>
      </div>

      <div class="list card">
        <div class="item item-divider">聊天目的(点击修改，回车保存)</div>
        <div class="item item-body selectable">
          <textarea type="text" placeholder="爱好" class="review" ng-model="myProfile.goal"
            on-blur="updateMyProfile()" on-return="updateMyProfile()" ng-keyup="autoExpand($event)"></textarea> 
        </div>
      </div>
    </span>

    <div ng-repeat="review in currentReviews">
      <div class="list card">
        <div class="item item-divider">{{review.reviewerName}}对{{profile.username}}的评价</div>
        <div class="item item-body selectable">
          <div>
            <pre>({{review.rate}}星）{{review.detail}} </pre>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>