<ion-view view-title="注册" name="login-view">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="邮箱（登陆用，不公开）" ng-model="register.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="密码" ng-model="register.password">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="请重复一遍密码" ng-model="register.password_retype">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="用户名(建议两字)" ng-model="register.name">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="喜欢聊什么呀？（比如文学，电影，旅行，职场，心理）" ng-model="register.topic">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="聊天的目的是？（比如找对象，交朋友，充实自我，学习，排遣无聊）" ng-model="register.goal">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="介绍一下你自己？（职业，专业，出生地，现在地，一件关于自己的趣事）" ng-model="register.intro">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="register.register()">注册</button>
      <button class="button button-block button-calm" ng-click="register.gotoLogin()">我有账号，要登录</button>
      <button class="button button-block button-calm" ng-click="register.gotoChat()">先看看别人的对话</button>
  </ion-content>
</ion-view>
