<ion-view view-title={{currentRoom.title}}>
  <ion-content class="room" delegate-handle="roomScroll" overflow-scroll="true">
    <div class="message-list">
      <div ng-repeat="message in messages" ng-init="author=getAuthor(message);" class="message-wrapper">
        <div ng-if="message.text">
          <div class="message" ng-class="getMessageClass(message)">
            <div class="message-profile">
              <div ng-if="author">
                {{author.username.slice(0,2)}}
              </div>
            </div>
            <div class="selectable text-wrapper">
              <div class="message-timestamp">
                <span ng-if="author">{{author.username}}</span> {{message.timestamp | calendar}}
              </div>
              <div class="text">
                <pre>{{message.text}}</pre>
              </div> 
            </div>
          </div>
        </div>  
      </div>
    </div>
  </ion-content>
  <div ng-if="$root.currentUser._id">
    <ion-footer-bar keyboard-attach class="bar-stable footer-room item-input-inset">
      <label class="item-input-wrapper">
        <textarea
                ng-keyup="autoExpand($event)"
                ng-model="room.message"
                dir="auto"
                type="text"
                on-return="room.sendMessage(); room.closeKeyboard()"
                on-focus="room.inputUp()"
                on-blur="room.inputDown()"
                class="input">
        </textarea>        
      </label>

      <span ng-if="room.message.length > 0">
        <button ng-click="room.sendMessage()" class="button button-clear button-positive">发表</button>
      </span>
    </ion-footer-bar>
  </div>
  <div ng-if="!$root.currentUser._id">
    <ion-footer-bar class="button-foot-bar">
      <div class="room-buttons">
        <button class="button button-calm room-sign-button" ng-click="gotoLogin()">登陆参与讨论</button>
        <button class="button button-calm room-register-button" ng-click="gotoRegister()">注册参与讨论</button>
      </div>
    </ion-footer-bar>   
  </div>  
  
</ion-view>