<ion-view>
  <ion-nav-title>
    <span ng-if="$root.currentUser._id != currentRoom.creater">
      {{currentRoom.title}}
    </span>
    <span ng-if="$root.currentUser._id == currentRoom.creater">
      <input type="text" dir="auto" placeholder="更改房间名" ng-model="data.newTitle" class="title-input" on-return="updateTitle()"
      on-blur="updateTitle()" />
    </span>
  </ion-nav-title>
  <ion-content class="room" delegate-handle="roomScroll" overflow-scroll="true">
    <div class="message-list">
      <div ng-repeat="message in currentMessages" class="message-wrapper">
        <div ng-if="message.text">
          <div class="message" ng-class="getMessageClass(message)">
            <a href={{message.profileHref}}>
              <div class="message-profile">
                {{message.authorName.slice(0,2)}}
              </div>
            </a>
            <div class="selectable text-wrapper">
              <div class="message-timestamp">
                {{message.authorName}} （积分: {{message.authorScore}}）  {{message.timestamp | calendar}}
              </div>
              <div class="text">
                <pre>{{message.text}}</pre>
              </div> 
            </div>
          </div>
        </div>  
      </div>
    </div>
  </ion-content>
  <div ng-if="$root.currentUser._id">
    <ion-footer-bar keyboard-attach class="bar-stable footer-room item-input-inset">
      <label class="item-input-wrapper">
        <textarea
                ng-keyup="autoExpand($event)"
                ng-model="room.message"
                dir="auto"
                type="text"
                on-return="room.sendMessage(); room.closeKeyboard()"
                on-focus="room.inputUp()"
                on-blur="room.inputDown()"
                class="input">
        </textarea>        
      </label>

      <span ng-if="room.message.length > 0">
        <button ng-click="room.sendMessage()" class="button button-clear button-positive">发表</button>
      </span>
    </ion-footer-bar>
  </div>
  <div ng-if="!$root.currentUser._id">
    <ion-footer-bar class="button-foot-bar">
      <div class="room-buttons">
        <button class="button button-calm room-sign-button" ng-click="gotoLogin()">登陆参与讨论</button>
        <button class="button button-calm room-register-button" ng-click="gotoRegister()">注册参与讨论</button>
      </div>
    </ion-footer-bar>   
  </div>  
  
</ion-view>